div.list {
  padding: 10px;
  height: calc(100vh - 84px);
  overflow: auto;
}

img {
  width: calc(((100vw - 20px) / 3) - 10px);
  height: 300px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}
